.container {
    border: 2px solid Indigo;
    padding: 5px;
    text-align: center;
    width: 80%;
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    display: inline;
    font-size: 20px;
}

.button {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 15px;
    background-color: rgb(220, 206, 232);
    font-style: italic;
    font-weight: 550;
    margin-left: 15px;
    margin-top: 10px;
}

.button:hover {
    color: white;
    background-color: rgb(123, 68, 171);
}